@import url('https://fonts.googleapis.com/css2?family=Rationale&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rationale&family=Roboto:wght@300&display=swap');

/*==============  LE corps de la page : body ==============*/

body {
    background-image: url(../images/BG.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    justify-content: center;
    align-items: center;
    height: 98vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*==============  PAGE 1 : accueil ==============*/

main .header {
    margin-top: 1em;
    height: 70px;
    margin-bottom: 1em;
}

#header-sroll {
    height: 43px;
    background: #2ec1e6;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    left: 0;
    top: 0;
    /*float: left;*/
    width: 47vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border-radius: 8px;
}

#header-sroll h1 {
    font-family: 'Rationale', sans-serif;
    color: #ffffff;
    font-style: normal;
    font-weight: bolder;
    font-size: 25px;
    text-align: center;
    line-height: 45px;
}


/*============== Le titre de la page de connexion ==============*/

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 79vh;
    padding-left: 10px;
    padding-right: 10px;
}


/* image de connexion */

img.imgPremière {
    width: 280px;
    height: 200px;
    margin-top: 10px;
    opacity: 0.5;
    box-shadow: 0px 2px 2px rgba(63, 61, 61, 0.05), 0px 6px 6px rgba(63, 61, 61, 0.05), 0px 8px 8px rgba(63, 61, 61, 0.05), 0px 10px 15px rgba(63, 61, 61, 0.05), 0px 30px 30px rgba(63, 61, 61, 0.05), 0px 70px 60px rgba(63, 61, 61, 0.05);
    /*margin-bottom: 10px;*/
}


/* Tout le contenu textuelle */

.textes {
    text-align: center;
}

.textes h2 {
    font-family: 'Roboto', sans-serif;
    color: #BB6BD9;
    font-size: 20px;
    /*top: 330px;*/
    margin-bottom: -1px;
}

.textes p {
    font-family: 'Roboto', sans-serif;
    line-height: 14, 01px;
    margin-left: 10%;
    margin-right: 10%;
    font-weight: bolder;
    color: #000000;
    font-weight: 900;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
}

.text-2 {
    text-align: center;
    color: #000000;
    line-height: 6px;
    margin-bottom: 10px;
}


/*** Tous les services ***/

.card {
    border-radius: 2px;
    display: inline-block;
    width: 91px;
    height: 100px;
    margin: 0.5rem;
    position: relative;
}

.card>img {
    width: 71px;
    height: 80px;
    border-radius: 10px;
    border: 3px solid #888282;
    opacity: 0.7;
}


/* Bouton des services  */

.bouton2 {
    box-shadow: 0 5px 5px rgb(255 255 255 / 30%), 0 5px 5px rgb(255 255 255 / 22%);
    width: 83px;
    height: 30px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 7px;
    outline: none;
    padding: 2px 0;
    margin-top: 10px;
    margin-bottom: 47px;
    margin-left: -4px;
    font-size: 10px;
    text-align: center;
    font-weight: 900;
    /*text-transform: uppercase;*/
    letter-spacing: 0.1em;
    background: #2ec1e6;
    text-decoration: none;
    color: #fff;
    border: 2px solid #ffffff;
    box-shadow: 0px 2px 2px rgba(63, 61, 61, 0.05), 0px 6px 6px rgba(63, 61, 61, 0.05), 0px 8px 8px rgba(63, 61, 61, 0.05), 0px 10px 15px rgba(63, 61, 61, 0.05), 0px 30px 30px rgba(63, 61, 61, 0.05), 0px 70px 60px rgba(63, 61, 61, 0.05);
}

.bouton2 a {
    text-decoration: none;
    color: #fff;
}

@media screen and (min-width: 150px) and (max-width: 348px) {
    .card {
        margin: 0.1rem;
    }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
    img.imgPremière {
        margin-top: -40px;
        margin-bottom: 18px;
    }
    .text-2 {
        margin-top: 10px;
    }
    .card>img {
        margin-top: 10px;
    }
}