@import url('https://fonts.googleapis.com/css2?family=Rationale&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rationale&family=Roboto:wght@300&display=swap');

/*==============  LE corps de la page : body ==============*/

body {
    background-image: url(../images/BG.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*==============  PAGE 1 : accueil ==============*/

main .header {
    margin-top: 1em;
    height: 70px;
    margin-bottom: 1em;
}

#header-sroll {
    height: 43px;
    background: #44e5e6;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    left: 0;
    top: 0;
    /*float: left;*/
    width: 47vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border-radius: 8px;
}

#header-sroll h1 {
    font-family: 'Rationale', sans-serif;
    color: #ffffff;
    font-style: normal;
    font-weight: bolder;
    font-size: 25px;
    text-align: center;
    line-height: 45px;
}


/*============== Le titre de la page de connexion ==============*/

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 79vh;
    padding-left: 10px;
    padding-right: 10px;
}


/* image de connexion */

img.imgPremière {
    width: 280px;
    height: 200px;
    margin-top: 10px;
    opacity: 0.5;
    box-shadow: 0px 2px 2px rgba(63, 61, 61, 0.05), 0px 6px 6px rgba(63, 61, 61, 0.05), 0px 8px 8px rgba(63, 61, 61, 0.05), 0px 10px 15px rgba(63, 61, 61, 0.05), 0px 30px 30px rgba(63, 61, 61, 0.05), 0px 70px 60px rgba(63, 61, 61, 0.05);
    /*margin-bottom: 10px;*/
}


/* Tout le contenu textuelle */

.textes {
    text-align: center;
}

.textes h2 {
    font-family: 'Roboto', sans-serif;
    color: #BB6BD9;
    font-size: 20px;
    /*top: 330px;*/
    margin-bottom: -1px;
}

.textes p {
    font-family: 'Roboto', sans-serif;
    line-height: 14, 01px;
    margin-left: 10%;
    margin-right: 10%;
    font-weight: bolder;
    color: #000000;
    font-weight: 900;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
}

.text-2 {
    text-align: center;
    color: #000000;
    line-height: 6px;
    margin-bottom: 10px;
}


/*** Tous les services ***/

.card {
    border-radius: 2px;
    display: inline-block;
    width: 91px;
    height: 100px;
    margin: 0.5rem;
    position: relative;
}

.card>img {
    width: 71px;
    height: 80px;
    border-radius: 10px;
    border: 3px solid #888282;
    opacity: 0.7;
}


/* Bouton des services  */

.bouton2 {
    box-shadow: 0 5px 5px rgb(255 255 255 / 30%), 0 5px 5px rgb(255 255 255 / 22%);
    width: 83px;
    height: 30px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 7px;
    outline: none;
    padding: 2px 0;
    margin-top: 10px;
    margin-bottom: 47px;
    margin-left: -4px;
    font-size: 10px;
    text-align: center;
    font-weight: 900;
    /*text-transform: uppercase;*/
    letter-spacing: 0.1em;
    background: #44e5e6;
    text-decoration: none;
    color: #fff;
    border: 2px solid #ffffff;
    box-shadow: 0px 2px 2px rgba(63, 61, 61, 0.05), 0px 6px 6px rgba(63, 61, 61, 0.05), 0px 8px 8px rgba(63, 61, 61, 0.05), 0px 10px 15px rgba(63, 61, 61, 0.05), 0px 30px 30px rgba(63, 61, 61, 0.05), 0px 70px 60px rgba(63, 61, 61, 0.05);
}

.bouton2 a {
    text-decoration: none;
    color: #fff;
}


/*==============  PAGE 3 : mes ordonnances ==============*/

.imagesordo>img {
    height: 72px;
    width: 72px;
    background: #44e5e6;
    border-radius: 10px;
    margin-left: -6em;
    margin-top: 6px;
    margin-bottom: 6px;
}

.imagesordo {
    height: 113px;
    width: 295px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    border-radius: 15px;
    border: 2px solid #44e5e6;
}

div.text-ordo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1em;
}


/* Le champ de saisie pour rechercher un médecin */

.laRecherche {
    width: 80%;
    margin-left: 81%;
    transform: translate(-50%, -50%);
    margin-top: 0.70em;
    margin-bottom: 0.70em;
}

.recherche {
    width: 100%;
    display: flex;
}

.motRecherche {
    width: 100%;
    border: 3px solid #44e5e6;
    border-right: none;
    padding: 5px;
    height: 20px;
    outline: none;
    color: #9DBFAF;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.motRecherche:focus {
    color: #00B4CC;
}

.BoutonRecherche {
    width: 40px;
    height: 36px;
    border: 1px solid #44e5e6;
    background: #44e5e6;
    text-align: center;
    color: #fff;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
    font-size: 20px;
}


/* tout ce qui est à gauche (mes ordonnances) */

.text-ordo>h2 {
    font-family: 'Rationale', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    margin-bottom: -5px;
    margin-left: 4px;
}

.text-ordo>h2.solena {
    margin-left: -2em;
}

.text-ordo>h2.igor {
    margin-left: -1em;
}

.text-ordo>h2.aminata {
    margin-left: -1em;
}

.text-ordo>h3 {
    font-size: 12px;
    line-height: 0.1em;
    margin-left: 8px;
    font-weight: 900;
    color: #b1afaf;
}

.text-ordo>.etoiles {
    /*padding-left: 2em;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-ordo>.etoiles span {
    font-size: 12px;
}

.checked {
    color: orange;
}

.text-ordo>p.prix {
    color: #7710A8;
    font-weight: bolder;
    font-size: 12px;
    margin-bottom: -6px;
    margin-top: -3px;
    margin-left: -3em;
}

img.CNAMGS {
    width: 80px;
    height: 20px;
    margin-right: -6em;
    margin-bottom: 6px;
}

span.fa:nth-child(5) {
    margin-right: 5em;
    color: #b1afaf;
}

@media screen and (min-width: 150px) and (max-width: 348px) {
    body {
        height: 100vh;
    }
    main {
        height: 90vh;
    }
    .card {
        margin: 0.1rem;
    }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
    .header {
        margin-bottom: 4em;
    }
    img.imgPremière {
        margin-top: -40px;
        margin-bottom: 18px;
    }
    .text-2 {
        margin-top: 10px;
    }
    .card>img {
        margin-top: 10px;
    }
    .laRecherche {
        width: 70%;
        margin-left: 70%;
        margin-top: 1em;
        margin-bottom: 1em;
    }
}