@import url('https://fonts.googleapis.com/css2?family=Rationale&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rationale&family=Roboto:wght@300&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #FBEFFF;
}


/*============== Le titre de la page de connexion ==============*/

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 75vh;
    padding-left: 10px;
    padding-right: 10px;
}


/*==============  PAGE DE CONNEXION ==============*/

#header-sroll {
    /*position: fixed;*/
    height: 100px;
    /*background: #FBEFFF;*/
    left: 0;
    top: 0;
    float: left;
    width: 100%;
}

#header-sroll h1 {
    color: #BB6BD9;
    /*font-size: 22px;*/
    font-size: 22px;
    font-family: 'Rationale', sans-serif;
    text-align: center;
    line-height: 30px;
}


/* image de connexion */

img {
    width: 280px;
    height: 200px;
    margin-top: 10px;
    /*margin-bottom: 10px;*/
}


/* Tout le contenu textuelle */

.textes {
    text-align: center;
}

.textes h2 {
    font-family: 'Roboto', sans-serif;
    color: #BB6BD9;
    font-size: 20px;
    /*top: 330px;*/
    margin-bottom: -1px;
}

.textes p {
    font-family: 'Roboto', sans-serif;
    color: #4F4B4B;
    line-height: 14, 01px;
    margin-left: 10%;
    margin-right: 10%;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
}


/* les champs de saisie */

input {
    font-family: 'Roboto', sans-serif;
    background: #FFFFFF;
    box-sizing: border-box;
    font-size: 12px;
    text-align: center;
    width: 240px;
    height: 30px;
    border: 1px solid #333333;
    position: relative;
    border-radius: 50px;
    margin-bottom: 18px;
}


/* Bouton de connexion  */

.bouton {
    width: 240px;
    height: 30px;
    font-family: 'Open Sans', sans-serif;
    border: 1px;
    outline: none;
    padding: 9px 0;
    margin-top: 2px;
    margin-bottom: 35px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    background: #BB6BD9;
    text-decoration: none;
    color: #fff;
    display: block;
}

.bouton a {
    text-decoration: none;
    color: #fff;
}

.compte {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: -40px;
}

.compte p a {
    font-size: 12px;
    text-decoration: none;
    color: #000;
}

.compte p a span {
    color: #BB6BD9;
}


/* Les medias query */

@media screen and (min-width: 760px) and (max-width: 1206px) {
    #header-sroll h1 {
        font-size: 30px;
        line-height: 90px;
    }
}

@media screen and (min-width: 321px) and (max-width: 759px) {
    #header-sroll h1 {
        font-size: 30px;
        line-height: 90px;
    }
}

@media screen and (min-width: 291px) and (max-width: 642px) {
    #header-sroll h1 {
        line-height: 100px;
    }
}