/* Reponse pour les utilisateurs qui vont se connecter à l'application mobile depuis l'ordinateur */


/* Affichage  de l'arrière plan du contenu PC */

@import url('https://fonts.googleapis.com/css2?family=Rationale&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rationale&family=Roboto:wght@300&display=swap');

/*==============  LE corps de la page : body ==============*/

body {
    background-image: url(../images/BG.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    justify-content: center;
    align-items: center;
    height: 98vh;
    margin: 0 auto;
}


/*==============  PAGE 1 : accueil ==============*/

main .header {
    margin-top: 1em;
    height: 70px;
    margin-bottom: 2em;
}

#header-sroll {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background: #ffffff;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    left: 0;
    top: 0;
    /*float: left;*/
    width: 47vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border-radius: 10px;
}


/* page connexion*/

#header-sroll h1 {
    font-family: 'Rationale', sans-serif;
    color: #5a00af;
    font-style: normal;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
    line-height: 45px;
}


/*
#header-sroll {
    display: flex;
    justify-content: center;
    align-items: center;
}
*/

#header-sroll img {
    width: 60px;
    height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: -50px;*/
}


/* Tout le contenu du main */

.accueil_Logo,
.connexion_Logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.accueil_Logo img {
    width: 120px;
    height: 112px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
}

.connexion_Logo img {
    width: 200px;
    height: 70px;
    margin-bottom: -11px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
}


/* Affichage du contenu sur PC */

body main>div.accueil {
    opacity: 0.7;
    display: block;
    max-width: 160px;
    max-height: 20em;
    padding: 70px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 55px;
    box-shadow: 0 12px 50px 16px rgba(255, 255, 255, 0.24);
}

div.accueil>h3 {
    font-family: 'Rationale', sans-serif;
    font-size: 30px;
    text-align: center;
    color: rgb(102, 96, 96);
}


/* Tout le contenu textuelle */

.textes {
    display: block;
    justify-content: center;
    align-items: center;
}

.textes h2 {
    font-family: 'Rationale', sans-serif;
    font-weight: 900;
    color: #5a00af;
    font-size: 30px;
    /*top: 330px;*/
    margin-bottom: -1px;
    margin-left: -8px;
    margin-right: -40px;
}

.textes p {
    font-family: 'Rationale', sans-serif;
    color: #000000;
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    line-height: 14px;
    margin-left: -50px;
    margin-right: -40px;
    text-align: center;
    margin-bottom: 3.50em;
    /*text-align: center;*/
}


/* les boutons pour la page connexion */

form,
#les-boutons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bouton1,
.bouton1-2 {
    font-family: 'Rationale', sans-serif;
    width: 215px;
    height: 50px;
    outline: none;
    margin-bottom: 32px;
    font-size: 22px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-decoration: none;
    color: #fff;
    display: block;
    background: #44e5e6;
    box-sizing: border-box;
    border-radius: 10px;
    border: 2px solid #ffffff;
    box-shadow: 0px 2px 2px rgba(63, 61, 61, 0.05), 0px 6px 6px rgba(63, 61, 61, 0.05), 0px 8px 8px rgba(63, 61, 61, 0.05), 0px 10px 15px rgba(63, 61, 61, 0.05), 0px 30px 30px rgba(63, 61, 61, 0.05), 0px 70px 60px rgba(63, 61, 61, 0.05);
}

.bouton1-2 {
    font-size: 25px;
    font-weight: 900;
    background: #ffffff;
}

.bouton1-2 a {
    text-decoration: none;
    color: rgb(102, 96, 96);
}

.bouton1 a {
    text-decoration: none;
    color: #fff;
}


/* les champs de saisie */

input {
    font-family: 'Rationale', sans-serif;
    background: #FFFFFF;
    box-sizing: border-box;
    font-size: 16px;
    text-align: center;
    width: 200px;
    height: 35px;
    border: 2px solid #8e8787;
    position: relative;
    border-radius: 5px;
    margin-bottom: 18px;
}


/* Les conditions d'utilisation */

.compte {
    font-family: 'Rationale', sans-serif;
    font-weight: 900;
    text-align: center;
    line-height: 7px;
    margin-top: 1.50em;
}

.compte p a {
    font-size: 14px;
    text-decoration: none;
    color: #000;
}

.compte p a span {
    color: #BB6BD9;
    text-decoration: underline;
}

@media (max-width: 551.98px) {
    #header-sroll {
        height: 40px;
        font-size: 12px;
        width: 50vh;
    }
}

@media screen and (min-width: 150px) and (max-width: 320px) {
    body main>div.accueil {
        max-width: 130px;
        max-height: 18em;
        margin-top: -2.50em;
    }
    .compte {
        margin-top: -0.10em;
    }
    .compte p a {
        font-size: 9px;
        margin-top: -3px;
    }
    .bouton1,
    .bouton1-2 {
        margin-top: -1em;
    }
    .bouton1 {
        margin-top: 4px;
    }
}